body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

span {
  font-weight: bold;
}

li {
  border: solid 1px green;
  max-width: 500px;
  display: flex;
  padding: 10px;
}

.image {
  width: 80px;
  height: 80px;
}

.mainData {
  border: solid 1px black;
  
}

.address {
  display: flex;
  border:  solid 1px red;
}